h1 Form Creator
p Please enter your questions below

form(action='/view-form', method='GET')
    SPAN Question 1
    br
    input(type='text', name='Q1')
    br
    br
    SPAN Question 2
    br
    input(type='text', name='Q2')
    br
    br
    SPAN Question 3
    br
    input(type='text', name='Q3')
    br
    br

    br

    input(type='submit')