h1 Student Signup

head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link( href='/form/css/global.css' type='text/css' rel='stylesheet')
body
form(action = '/signup-check', method ='GET')
    .form-row
        .form-group.col-md-4
            label(for='inputEmail') Email
            input#inputUsername.form-control(type='email', name='email' placeholder='Email')
    .form-row
        .form-group.col-md-2
            label(for='inputFirstName') First Name
            input#inputFirstName.form-control(type='text', name='firstname' placeholder='First')
        .form-group.col-md-2
            label(for='inputLastName') Last Name
            input#inputLastName.form-control(type='text', name='lastname' placeholder='Last')
    .form.row
        .form-group.col-md-2
            label(for='inputPassword1') Password
            input#inputPassword1.form-control(type='password', name='password1' placeholder='Password')
        .form-group.col-md-2
            label(for='inputPassword2') Confirm Password
            input#inputPassword2.form-control(type='password', name='password2' placeholder='Password')
    br
    button.btn.btn-primary(type='submit') Signup